{% extends "polls/landing/base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<body class="text-center">
  <div class="content mt-5 my-5 py-5">
    <main class="mt-3 card back">

      <h1 class="mt-5 text-white">Веб-приложение для учёта личных финансов</h1>

      <p class="lead text-white">
        Рассчитать личный или семейный бюджет теперь намного проще.
        Отслеживайте все свои транзакции в одном приложении. Присоединяйтесь, это бесплатно!
      </p>

      <p class="lead">
        <a href="/about" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
      </p>

    </main>
  </div>
</body>

{% endblock %}
