{% extends "polls/landing/base.html" %}

{% block title %}
Список операций
{% endblock %}

{% block content %}

<div>

  <div class="card w-50 m-auto text-center mt-5">
    <div class="content mb-3">
      <main class="px-3">
        <h1>Название счета: <span class="blue">{{account.account_name}}</span></h1>
        <h3>Баланс счёта: <span class="blue">{{account.account_current_balance}}</span></h3>
        <div class="btn-group" role="group" aria-label="Basic example">
          {% include "polls/profile/Charts.html" %}
        </div>
      </main>
    </div>
  </div>

  <div class="container mt-5 d-flex justify-content-center w-700 m-auto">
    <div class="card w-100 m-auto">
      <table class="text-center table">

        <thead>
          <tr>
            <th class="h5 blue" scope="col">Тип операции</th>
            <th class="h5 blue" scope="col">Сумма</th>
            <th class="h5 blue" scope="col">Категория</th>
            <th class="h5 blue" scope="col">Описание</th>
            <th class="h5 blue" scope="col">Дата операции</th>
            <th class="h5 blue" scope="col">Удалить</th>
            <th class="h5 blue" scope="col">Редактировать</th>
          </tr>
        </thead>

        <tbody>
          {% for a in trans_list %}
            <tr>

              {% if a.is_income %}

                <td class="py-2">Доход</td>

                <td class="py-2 green">+{{a.amount}}</td>

                <td class="py-2">
                  {% if a.category %}
                    {{a.category}}
                  {% else %}
                    —
                  {% endif %}
                </td>

              {% elif a.is_expense%}

                <td class="py-2">Расход</td>

                <td class="py-2 red">{{a.amount}}</td>

                <td class="py-2">
                  {% if a.category %}
                    {{a.category}}
                  {% else %}
                    —
                  {% endif %}
                </td>

              {% elif a.is_transfer %}
                <td class="py-2">Перевод</td>
                {% if a.transfer_account_id == account.account_id %}
                  <td class="py-2 green">+{{a.amount}}</td>
                  {% if not a.account_id.is_deleted %}
                    <td class="py-2">Перевод со счета:
                      <a href="{% url 'history_accounts' account_id=a.account_id.account_id %}"
                         class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                        {{a.account_id.account_name}}
                      </a>
                    </td>
                  {% else %}
                    <td class="py-2">Перевод с удаленного счета: {{a.account_id.account_name}}</td>
                  {% endif %}
                {% else %}
                  <td class="py-2 red">-{{a.amount}}</td>
                  {% for i in transfer_accounts %}
                    {% if i.account_id == a.transfer_account_id %}
                      {% if not i.is_deleted %}
                        <td class="py-2">Перевод на счет:
                          <a href="{% url 'history_accounts' account_id=i.account_id %}"
                             class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                            {{i.account_name}}
                          </a>
                        </td>
                      {% else %}
                        <td class="py-2">Перевод на удаленный счет: {{i.account_name}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endif %}

              {% endif %}

              <td class="py-2">
                {% if a.description %}
                  {{a.description}}
                {% else %}
                  —
                {% endif %}
              </td>

              <td class="py-2">{{a.transaction_date}}</td>

              <td class="py-2">
                <form action="{% url 'delete_transaction' transaction_id=a.transaction_id%}" method="post">
                  {% csrf_token %}
                  <input class="center p-1 btn btn-outline-secondary nav-link active" type="submit" value="Удалить">
                </form>
              </td>

              <td class="py-2">
                {% if a.transfer_account_id != account.account_id %}
                  {% include "polls/profile/edit_transaction.html" %}
                {% endif %}
              </td>

            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>

</div>

{% endblock %}
